.main {
  background: url("../images/bg.png") no-repeat 550px 200px;
  width: 2880px;
  height: 1920px; }
  .main .text-block {
    position: absolute;
    left: 580px;
    top: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center; }
    .main .text-block .text1 {
      text-transform: uppercase;
      color: #f14950;
      font-size: 40px;
      font-family: RobotoCondensed-Bold; }
    .main .text-block .text2 {
      padding-left: 70px;
      color: #414042;
      font-family: RobotoCondensed-Regular;
      font-size: 28px; }
      .main .text-block .text2 span {
        color: #be786d;
        font-size: 40px;
        font-family: RobotoCondensed-Bold; }
    .main .text-block .text3 {
      padding-left: 410px;
      color: #414042;
      font-family: RobotoCondensed-Regular;
      font-size: 28px; }
      .main .text-block .text3 span {
        color: #629d74;
        font-size: 40px;
        font-family: RobotoCondensed-Bold; }
  .main .text-block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    left: 628px;
    top: 596px; }
    .main .text-block1 p {
      color: #fffeff;
      font-size: 25px;
      font-family: RobotoCondensed-Regular; }
    .main .text-block1 p:nth-child(1) {
      padding-right: 445px; }
    .main .text-block1 p:nth-child(2) {
      padding-right: 475px; }
    .main .text-block1 p:nth-child(3) {
      padding-right: 525px; }
  .main .first_btn,
  .main .second_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
    left: 200px;
    top: 670px; }
    .main .first_btn .first_btn-text,
    .main .first_btn .second_btn-text,
    .main .second_btn .first_btn-text,
    .main .second_btn .second_btn-text {
      padding-right: 60px;
      color: #6a6a6a;
      font-size: 35px;
      font-family: RobotoCondensed-Regular;
      text-align: right; }
    .main .first_btn .play_btn,
    .main .first_btn .second-play_btn,
    .main .second_btn .play_btn,
    .main .second_btn .second-play_btn {
      background: url("../images/icon-play.png") no-repeat center;
      width: 224px;
      height: 224px; }
  .main .second_btn {
    left: 200px;
    top: 1170px; }
    .main .second_btn .second_btn-text span {
      font-family: RobotoCondensed-Bold;
      color: #1d8fce; }
  .main .bar1-animation, .main .bar2-animation {
    display: none;
    opacity: 0;
    overflow-x: hidden;
    position: absolute;
    left: 740px;
    top: 805px;
    border-radius: 80px;
    width: 1335px;
    height: 125px;
    background: rgba(255, 255, 255, 0.3); }
    .main .bar1-animation .animation-block1,
    .main .bar1-animation .animation-block2, .main .bar2-animation .animation-block1,
    .main .bar2-animation .animation-block2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      top: 0;
      left: -1335px;
      position: absolute;
      background: white;
      width: 1335px;
      height: 125px;
      border-radius: 80px; }
      .main .bar1-animation .animation-block1 p,
      .main .bar1-animation .animation-block2 p, .main .bar2-animation .animation-block1 p,
      .main .bar2-animation .animation-block2 p {
        padding-left: 865px;
        color: #6a6a6a;
        font-family: RobotoCondensed-Regular;
        font-size: 36px; }
        .main .bar1-animation .animation-block1 p span,
        .main .bar1-animation .animation-block2 p span, .main .bar2-animation .animation-block1 p span,
        .main .bar2-animation .animation-block2 p span {
          font-family: RobotoCondensed-Bold; }
    .main .bar1-animation .animation-block2 p, .main .bar2-animation .animation-block2 p {
      padding-left: 310px;
      color: #1d8fce; }
    .main .bar1-animation .animation-block1, .main .bar2-animation .animation-block1 {
      -webkit-box-shadow: 5px 9px 49px 0px rgba(138, 31, 36, 0.5);
      box-shadow: 5px 9px 49px 0px rgba(138, 31, 36, 0.5); }
    .main .bar1-animation .animation-block2, .main .bar2-animation .animation-block2 {
      -webkit-box-shadow: 5px 9px 49px 0px rgba(110, 58, 60, 0.5);
      box-shadow: 5px 9px 49px 0px rgba(110, 58, 60, 0.5); }
  .main .bar2-animation {
    top: 1350px; }
  .main .point-des-block {
    display: none;
    opacity: 0; }
  .main .point {
    background: url("../images/grid.png") no-repeat;
    width: 1249px;
    height: 14px;
    position: absolute;
    top: 1230px;
    left: 699px; }
  .main .point-des1,
  .main .point-des2 {
    position: absolute;
    font-family: RobotoCondensed-Light;
    font-size: 25px;
    color: #fffeff; }
    .main .point-des1 span,
    .main .point-des2 span {
      font-family: RobotoCondensed-Regular; }
  .main .point-des1 {
    top: 1250px;
    left: 699px; }
  .main .point-des2 {
    top: 1250px;
    left: 1660px; }

#container1,
#container2 {
  display: none;
  border-radius: 100%;
  background: white;
  position: absolute;
  left: 314px;
  top: 793px;
  width: 126px;
  height: 125px; }

#container2 {
  left: 314px;
  top: 1335px; }
