$Bold: RobotoCondensed-Bold;
$Light: RobotoCondensed-Light;
$Regular: RobotoCondensed-Regular;
@mixin BoxShadow($val) {
  box-shadow: $val;
  -moz-box-shadow: $val;
  -webkit-box-shadow: $val;
  -ms-box-shadow: $val;
  -o-box-shadow: $val;
  -khtml-box-shadow: $val;
}

@mixin BorderRadius($val) {
  border-radius: $val;
  -moz-border-radius: $val;
  -webkit-border-radius: $val;
  -khtml-border-radius: $val;
}

@mixin Transition($val) {
  transition: $val;
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
}

@mixin Transform($val) {
  transform: $val;
  -webkit-transform: $val;
  -moz-transform: $val;
  -o-transform: $val;
}

.main {
  background: url("../images/bg.png") no-repeat 550px 200px;
  width: 2880px;
  height: 1920px;
  .text-block {
    position: absolute;
    left: 580px;
    top: 380px;
    display: flex;
    flex-direction: row;
    text-align: center;
    .text1 {
      text-transform: uppercase;
      color: #f14950;
      font-size: 40px;
      font-family: $Bold;
    }
    .text2 {
      padding-left: 70px;
      color: #414042;
      font-family: $Regular;
      font-size: 28px;
      span {
        color: #be786d;
        font-size: 40px;
        font-family: $Bold;
      }
    }
    .text3 {
      padding-left: 410px;
      color: #414042;
      font-family: $Regular;
      font-size: 28px;
      span {
        color: #629d74;
        font-size: 40px;
        font-family: $Bold;
      }
    }
  }
  .text-block1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 628px;
    top: 596px;
    p {
      color: #fffeff;
      font-size: 25px;
      font-family: $Regular;
    }
    p:nth-child(1) {
      padding-right: 445px;
    }
    p:nth-child(2) {
      padding-right: 475px;
    }
    p:nth-child(3) {
      padding-right: 525px;
    }
  }
  .first_btn,
  .second_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    left: 200px;
    top: 670px;
    .first_btn-text,
    .second_btn-text {
      padding-right: 60px;
      color: #6a6a6a;
      font-size: 35px;
      font-family: $Regular;
      text-align: right;
    }
    .play_btn,
    .second-play_btn {
      background: url("../images/icon-play.png") no-repeat center;
      width: 224px;
      height: 224px;
    }
  }
  .second_btn {
    left: 200px;
    top: 1170px;
    .second_btn-text {
      span {
        font-family: $Bold;
        color: #1d8fce;
      }
    }
  }
  .bar1-animation, .bar2-animation {
    display: none;
    opacity: 0;
    overflow-x: hidden;
    position: absolute;
    left: 740px;
    top: 805px;
    border-radius: 80px;
    width: 1335px;
    height: 125px;
    background: rgba(255, 255, 255, 0.3);
    .animation-block1,
    .animation-block2 {
      display: flex;
      align-items: center;
      top: 0;
      left: -1335px;
      position: absolute;
      background: white;
      width: 1335px;
      height: 125px;
      border-radius: 80px;
      p {
        padding-left: 865px;
        color: #6a6a6a;
        font-family: $Regular;
        font-size: 36px;
        span {
          font-family: $Bold;
        }
      }
    }
    .animation-block2 {
      p {
        padding-left: 310px;
        color: #1d8fce;
      }
    }
    .animation-block1 {
      box-shadow: 5px 9px 49px 0px rgba(138, 31, 36, 0.5);
    }
    .animation-block2 {
      box-shadow: 5px 9px 49px 0px rgba(110, 58, 60, 0.5);
    }
  }
  .bar2-animation {
    top: 1350px;
  }
  .point-des-block {
    display: none;
    opacity: 0;
  }
  .point {
    background: url("../images/grid.png") no-repeat;
    width: 1249px;
    height: 14px;
    position: absolute;
    top: 1230px;
    left: 699px;
  }
  .point-des1,
  .point-des2 {
    position: absolute;
    font-family: $Light;
    font-size: 25px;
    color: #fffeff;
    span {
      font-family: $Regular;
    }
  }
  .point-des1 {
    top: 1250px;
    left: 699px;
  }
  .point-des2 {
    top: 1250px;
    left: 1660px;
  }
}

#container1,
#container2 {
  display: none;
  border-radius: 100%;
  background: white;
  position: absolute;
  left: 314px;
  top: 793px;
  width: 126px;
  height: 125px;
}

#container2 {
  left: 314px;
  top: 1335px;
}